* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 10px;
        box-shadow: 0px 6px 24px rgba(0,0,0,0.12);
        height: auto;
    }

@font-face {
    font-family: "Young Serif";
    font-weight: 400;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    font-weight: 400 700;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-style: normal;
}


:root {
    --body-bg: hsl(30, 54%, 90%);
    --pink-bg: hsl(330, 100%, 98%);
    --white: hsl(0, 0%, 100%);
    --rose: hsl(332, 51%, 32%);
    --brown: hsl(14, 45%, 36%);
    --dark-stone: hsl(24, 5%, 18%);
    --lighter-stone: hsl(30, 10%, 34%);
    --lightest-stone:  hsl(30, 18%, 87%);

    --fs-reg: 1rem;
    --fs-md: 1.25rem;
    --fs-large: 2.5rem;
    --fs-h2: 1.75rem;

    --ff-outfit: "Outfit", Arial;
    --ff-youngserif:"Young Serif", Arial;

    --li-padding: 8px;
}


body {
    background-color: var(--body-bg);
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--white);
    padding: 50px;
    max-width: 700px;
    margin: 5rem auto;
    border-radius: 25px;
}

h1 {
    font-family: var(--ff-youngserif);
    font-size: var(--fs-large);
    margin-bottom: 20px;
    /* font-weight: 200; */
}

h2 {
    color: var(--brown);
    font-size: var(--fs-h2);
    /* font-weight: 200; */
    margin: 15px 0;
}

p,
li,
td {
    color: var(--lighter-stone);
    font-family: var(--ff-outfit);
}

.pinkbox {
    background-color: var(--pink-bg);
    margin: 20px 0;
    border-radius: 10px;
    padding-bottom: 20px;
}
   .pinkbox h2 {
        font-family: var(--ff-outfit);
    color: var(--rose);
    margin: 10px;
    font-weight: 600;
    font-size: var(--fs-md);
    padding: 20px 0 0 10px;
    }

   .pinkbox li {
        margin-left: 40px;
        padding: var(--li-padding);
    }

    .pinkbox li::marker {
        color: var(--rose);
    }
    
     .pinkbox span {
        color: var(--lighter-stone);
        font-weight: 700;
    }




  .ingredients li {
        list-style-position: inside;
        padding: var(--li-padding);
    }
   .ingredients li::marker {
        color: var(--brown);
    }


hr {
    margin-top: 25px;
}

.instructions li {
        list-style-position: inside;
        padding: var(--li-padding);
    
    }


   .instructions li::marker {
        color: var(--brown);
        font-weight: 600;

    }

   .instructions span {
        color: var(--lighter-stone);
        font-weight: 600;
        margin-left: 0.5rem;
    }


.nutrition-table {
        width: 100%;
        border-collapse: collapse;
    }

        tr + tr {
            border-top: 1px solid var(--lightest-stone);
        }

        td:first-child {
            text-align: left;
            padding: 0.8rem 0;
            padding-left: 2rem;
        }


    .nutrition-table span {
        display: inline-block;
        color: var(--brown);
        font-weight: 600;
    }

@media (max-width: 700px){
    
    .container {
        padding: 1rem;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        overflow: hidden;
    }

    .container > img {
        display: block;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: -1rem;
        border-radius: 0;
    }
}

@media (max-width: 375px) {

    main {
        padding: 0;
    }

    .container {
        padding: 1rem;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        overflow: hidden;
    }

    .container > img {
        display: block;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: -1rem;
        border-radius: 0;
    }
}


.footer {
    text-align: center;
    
}

.footer a:link {
    display:inline-block;
    text-decoration: none;
    transition: color .2s ease, text-shadow .2s ease, transform .2s ease;
}

.footer a:hover {
    color: blue;
    text-shadow: 0 0 10px blueviolet;
    text-decoration: underline;
    transform: scale(1.1);
    margin-left: 0.3rem;
}

.footer a:active {
    color: red;
}


